{% extends "base.html" %}

{% block title %}Edicion{% endblock %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'edicion/css/editar.css' %}">
{% endblock %}

{% block header %}
<h1>Edicion</h1>
{% endblock %}

{% block content%}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion ip</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="robots-table">
        {% for puzzlebot in puzzlebots %}
        <tr id="robot-{{ puzzlebot.nombre }}">
            <td><input type="text" value="{{ puzzlebot.nombre }}" id="nombre-{{ puzzlebot.nombre }}"></td>
            <td><input type="text" value="{{ puzzlebot.ip }}" id="ip-{{ puzzlebot.nombre }}"></td>
            <td><button onclick="guardarDatos('{{ puzzlebot.nombre }}')">Guardar</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    const socket = new WebSocket('ws://127.0.0.1:8000/ws/puzzlebots/revision');

    socket.onopen = function () {
    console.log("Conexión WebSocket establecida.");
    };
    function guardarDatos(nombre) {
        const ip = document.getElementById(`ip-${nombre}`).value;
        console.log(`Nombre: ${nombre}, IP: ${ip}`);
        const data = {}
        data['nombre'] = nombre
        data['ip'] = ip
        data['accion'] = "editar"

        socket.send(JSON.stringify(data));

    }
</script>
{% endblock %}
